<h1 class="title" data-location="<%= JSON.stringify({ lat: city.lat, lng: city.lng }) %>"><%= city.name %></h1>
<div class="container show">
  <div class="container">
    <img src="<%= city.image %>" width="100%">
    <h4>State: <%= city.state %></h4>
    <h4>Style: <%= city.dressCode %></h4>
    <h4>Current Weather: <span class="weather"></span></h4>

  </div>
  <hr>
  <div class="container">
    <% if(!locals.isAuthenticated) { %>
    <a href="/cities"><h5>Back</h5></a>
    <% } else { %>

    <div>
      <h4>Trending Venues</h4>
      <ul></ul>
    </div>

    <div>
      <a class="posts" href="/posts"><h3>Posts</h3></a>
    </div>
    <% } %>
  </div>

</div>
