<div class="container postsShow">

  <div class="container">
    <div class="image">
      <img src="<%= post.imageSRC %>" alt="<%= post.name %>">
    </div>
    <p><%= post.name %></p>
    <p><%= post.caption %></p>
    <p><%= post.createdBy.username %></p>
  </div>

  <% if(locals.isAuthenticated && post.belongsTo(currentUser)) { %>
  <div class="container">
    <a href="/posts/<%= post.id %>/edit" class="edit">Edit</a>
    <form method="POST" action="/posts/<%= post.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
  </div>
  <% } %>

  <hr>

  <div class="container">
    <% if(locals.isAuthenticated) { %>
      <h4>Leave a comment!</h4>
      <form method="POST" action="/posts/<%= post.id %>/comments">
        <textarea name="content" id="content" placeholder="Comment"></textarea><br>
        <button class="button">Comment</button>
      </form>
  </div>
  <hr>
    <% } %>

    <div class="container">
      <h4>What people are saying...</h4>
      <% post.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <h6><%= comment.createdBy.username %></h6>

      <% if(locals.isAuthenticated) { %>
      <form method="POST" action="/posts/<%= post.id %>/comments/<%= comment.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
      <% } %>
      <% }) %>
    </div>

</div>
