<div class="container postsShow">

  <div class="container">
    <div class="image">
      <img src="<%= post.imageSRC %>" alt="<%= post.name %>">
    </div>
    <p><span class="info">Title:</span> <%= post.name %></p>
    <p><span class="info">Caption:</span> <%= post.caption %></p>
    <p>* <%= post.createdBy.username %> *</p>
  </div>

  <% if(locals.isAuthenticated && post.belongsTo(currentUser)) { %>
  <div class="container currentUserActions">
    <a href="/posts/<%= post.id %>/edit" class="edit"><button>Edit</button></a>
    <form method="POST" action="/posts/<%= post.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
  </div>
  <% } %>

  <hr>

  <div class="container userComments">
    <% if(locals.isAuthenticated) { %>
      <h4>Leave a comment!</h4>
      <form method="POST" action="/posts/<%= post.id %>/comments">
        <textarea name="content" id="content" placeholder="Comment"></textarea><br>
        <button>Comment</button>
      </form>
  </div>
  <hr>
    <% } %>

    <div class="container">
      <h4>What people are saying...</h4>
      <% post.comments.forEach((comment) => { %>
      <p><span><%= comment.createdBy.username %>: </span><%= comment.content %></p>

      <% if(locals.isAuthenticated) { %>
      <form method="POST" action="/posts/<%= post.id %>/comments/<%= comment.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
      <% } %>
      <% }) %>
    </div>

</div>
